{% extends "base-template.html" %}

{% block title %}Add Account{% endblock %}

{% block content %}
    <h1>Add Account</h1>
    
    <form method="post" action="{{ url_for('main.add_account') }}" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="account_id">Account ID:</label>
            <input type="text" class="form-control" id="account_id" name="account_id" required>
            <div class="invalid-feedback">
                Please provide an account ID.
            </div>
        </div>
        <div class="form-group">
            <label for="account_name">Account Name:</label>
            <input type="text" class="form-control" id="account_name" name="account_name" required>
            <div class="invalid-feedback">
                Please provide an account name.
            </div>
        </div>
        <div class="form-group">
            <label for="role_arn">Role ARN:</label>
            <input type="text" class="form-control" id="role_arn" name="role_arn" required>
            <div class="invalid-feedback">
                Please provide a role ARN.
            </div>
        </div>
        <div class="form-group">
            <label for="roles_to_analyze">Roles to Analyze:</label>
            <input type="text" class="form-control" id="roles_to_analyze" name="roles_to_analyze" data-role="tagsinput" required>
            <div class="invalid-feedback">
                Please provide roles to analyze.
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add Account</button>
    </form>

    <script>
        // JavaScript for Bootstrap form validation
        (function () {
            'use strict';
            var forms = document.querySelectorAll('.needs-validation');
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
{% endblock %}
