{% extends "base-template.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 jetbrains-mono-custom ">
        <h1 class="text-2xl font-bold mb-4 text-white margarine-regular">Manage Accounts</h1>
        
        <!-- Search Form -->
        <form method="get" action="{{ url_for('main.index') }}" class="flex flex-col lg:flex-row mb-3">
            <label class="relative flex-grow lg:w-64 mb-2 lg:mb-0 lg:mr-2">
                <span class="sr-only">Search</span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                    <!-- SVG icon for search -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-orange-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                      </svg>
                      
                </span>
                <input class="placeholder-orange-600 block w-full bg-white border border-gray-300 text-orange-600 rounded-md py-2 pl-10 pr-3 shadow-sm focus:outline-none focus:border-orange-600 focus:ring-orange-600 focus:ring-1 sm:text-sm" 
                       placeholder="Search by Account Name" 
                       type="search" 
                       aria-label="Search" 
                       name="search" 
                       value="{{ search_query }}">  
            </label>
            <button class="hidden bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-md" type="submit">Search</button>
        </form>
        
        <div class="overflow-x-auto rounded-lg">
          <table class="min-w-full bg-white border-none">
            <thead class="bg-orange-500 text-white">
              <tr>
                <th class="py-2 px-4 ">Account Name</th>
                <th class="py-2 px-4 ">Account ID</th>
              </tr>
            </thead>
            <tbody>
              {% for account in accounts.items %}
              <tr class="hover:bg-gray-50">
                <td class="py-2 px-4 border-b">
                  <a href="{{ url_for('main.account_details', account_id=account.id) }}" class="text-orange-500 ">
                    {{ account.account_name }}
                  </a>
                </td>
                <td class="py-2 px-4 border-b text-orange-500">{{ account.id }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
<!-- Pagination -->
<div class="flex justify-center mt-5 margarine-regular">
  <nav aria-label="Page navigation">
    <ul class="inline-flex items-center space-x-2">
      <!-- Previous Page Link -->
      <li class="{% if not accounts.has_prev %}opacity-50 pointer-events-none{% endif %}">
        <a class="px-3 py-2 ml-0 leading-tight text-orange-500 bg-white border border-gray-300 rounded-full hover:bg-orange-600 hover:text-green-900" 
           href="{{ url_for('main.index', page=accounts.prev_num, search=search_query) }}" 
           aria-label="Previous" 
           tabindex="{% if not accounts.has_prev %}-1{% endif %}">
          &laquo; Previous
        </a>
      </li>

      <!-- Page Number Links -->
      {% for page_num in accounts.iter_pages() %}
        {% if page_num %}
          <li>
            <a class="px-3 py-2 leading-tight border border-gray-300 rounded-full {% if accounts.page == page_num %}text-white bg-orange-600{% else %}text-orange-500 bg-white hover:bg-orange-600 hover:text-green-900{% endif %}" 
               href="{{ url_for('main.index', page=page_num, search=search_query) }}">
              {{ page_num }}
            </a>
          </li>
        {% else %}
          <!-- Ellipsis for skipped pages -->
          <li class="disabled">
            <span class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full">...</span>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Next Page Link -->
      <li class="{% if not accounts.has_next %}opacity-50 pointer-events-none{% endif %}">
        <a class="px-3 py-2 leading-tight text-orange-500 bg-white border border-gray-300 rounded-full hover:bg-orange-600 hover:text-green-900" 
           href="{{ url_for('main.index', page=accounts.next_num, search=search_query) }}" 
           aria-label="Next" 
           tabindex="{% if not accounts.has_next %}-1{% endif %}">
          Next &raquo;
        </a>
      </li>
    </ul>
  </nav>
</div>



        
        
    </div>
{% endblock %}
