{% extends "base-template.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block content %}
<section class="container mx-auto px-4 jetbrains-mono-custom">
    <h1 class="text-2xl font-bold mb-4 text-white margarine-regular">Manage Accounts</h1>
    
    <!-- Search Form -->
    <form method="get" action="{{ url_for('main.manage_accounts') }}" class="flex flex-col lg:flex-row mb-3">
        <label class="relative flex-grow lg:w-64 mb-2 lg:mb-0 lg:mr-2">
            <span class="sr-only">Search</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <!-- SVG icon for search -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </span>
            <input class="placeholder-orange-600 block w-full bg-white border border-gray-300 text-orange-600 rounded-md py-2 pl-10 pr-3 shadow-sm focus:outline-none focus:border-orange-600 focus:ring-orange-600 focus:ring-1 sm:text-sm" 
                   placeholder="Search by Account Name" 
                   type="search" 
                   aria-label="Search" 
                   name="search" 
                   value="{{ search_query }}">  
        </label>
        <button class="hidden bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-md" type="submit">Search</button>
    </form>

    <!-- Account List -->
    <ul class="list-group divide-y divide-gray-300">
        {% for account in accounts.items %}
        <li class="list-group-item flex justify-between items-center py-2">
            <span class="text-orange-500">{{ account.account_name }} ({{ account.id }})</span>
            <div>
                <a href="{{ url_for('main.edit_account', account_id=account.id) }}" class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded-md ml-2">Edit</a>
                <button type="button" class="bg-orange-500 hover:bg-orange-600 text-white px-3 py-1 rounded-md ml-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ account.id }}">Delete</button>
            </div>
        </li>

        <!-- Confirm Delete Modal -->
        <div class="modal fade" id="confirmDeleteModal{{ account.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ account.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title jetbrains-mono-custom-bold" id="confirmDeleteModalLabel{{ account.id }}">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body jetbrains-mono-custom-bold">
                        Are you sure you want to delete this account?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded-md" data-bs-dismiss="modal">Cancel</button>
                        <form method="post" action="{{ url_for('main.delete_account', account_id=account.id) }}">
                            <button type="submit" class="bg-orange-500 hover:bg-orange-600 text-white px-3 py-1 rounded-md">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>

    <!-- Pagination -->
    <nav aria-label="Page navigation" class="mt-5 flex justify-center margarine-regular">
        <ul class="inline-flex items-center space-x-2">
            <!-- Previous Page Link -->
            <li class="{% if not accounts.has_prev %}opacity-50 pointer-events-none{% endif %}">
                <a class="px-3 py-2 ml-0 leading-tight text-orange-500 bg-white border border-gray-300 rounded-full hover:bg-orange-600 hover:text-green-900" 
                   href="{{ url_for('main.manage_accounts', page=accounts.prev_num, search=search_query) }}" 
                   aria-label="Previous">
                    &laquo; Previous
                </a>
            </li>

            <!-- Page Number Links -->
            {% for page_num in accounts.iter_pages() %}
            {% if page_num %}
            <li>
                <a class="px-3 py-2 leading-tight border border-gray-300 rounded-full {% if accounts.page == page_num %}text-white bg-orange-600{% else %}text-orange-500 bg-white hover:bg-orange-600 hover:text-green-900{% endif %}" 
                   href="{{ url_for('main.manage_accounts', page=page_num, search=search_query) }}">
                    {{ page_num }}
                </a>
            </li>
            {% else %}
            <!-- Ellipsis for skipped pages -->
            <li class="disabled">
                <span class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full">...</span>
            </li>
            {% endif %}
            {% endfor %}

            <!-- Next Page Link -->
            <li class="{% if not accounts.has_next %}opacity-50 pointer-events-none{% endif %}">
                <a class="px-3 py-2 leading-tight text-orange-500 bg-white border border-gray-300 rounded-full hover:bg-orange-600 hover:text-green-900" 
                   href="{{ url_for('main.manage_accounts', page=accounts.next_num, search=search_query) }}" 
                   aria-label="Next">
                    Next &raquo;
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endblock %}
