{% extends "base-template.html" %}

{% block title %}AWS Role Analyzer - User Details{% endblock %}

{% block content %}
<section class="container mx-auto px-4 jetbrains-mono-custom">
    <h2 class="text-2xl font-bold mb-4 text-white margarine-regular">User Details: {{ user_arn }}</h2>

    <!-- Search Box -->
    <div class="mb-3">
        <input type="text" id="accountSearchInput" class="block w-full bg-white border border-gray-300 text-orange-600 rounded-md py-2 px-3 shadow-sm focus:outline-none focus:border-orange-600 focus:ring-orange-600 focus:ring-1 sm:text-sm" placeholder="Search Account Name" oninput="filterAccounts()" />
    </div>

    {% for account, roles in user_details.items() %}
        <div class="mb-3 p-4 bg-white border border-gray-300 rounded-md shadow-sm account-card" data-account-name="{{ account }}">
            <div class="mb-2">
                <h3 class="text-xl font-bold text-orange-600">Account: {{ account }}</h3>
            </div>
            <div>
                <!-- Role Tabs -->
                <ul class="flex flex-wrap mb-3 border-b border-gray-200" id="roleTabs-{{ account|replace(' ', '-') }}" role="tablist">
                    {% for role in roles %}
                        <li class="mr-2" role="presentation">
                            <a class="inline-block p-2 text-orange-500 hover:text-orange-600 {% if loop.first %}text-white bg-orange-600 rounded-t-lg{% else %}border-b-2 border-transparent{% endif %}" id="tab-{{ account|replace(' ', '-') }}-{{ role|replace(' ', '-') }}" data-bs-toggle="tab" href="#content-{{ account|replace(' ', '-') }}-{{ role|replace(' ', '-') }}" role="tab" aria-controls="content-{{ account|replace(' ', '-') }}-{{ role|replace(' ', '-') }}" aria-selected="{{ 'true' if loop.first else 'false' }}">{{ role }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" id="roleTabsContent-{{ account|replace(' ', '-') }}">
                    {% for role, details in roles.items() %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="content-{{ account|replace(' ', '-') }}-{{ role|replace(' ', '-') }}" role="tabpanel" aria-labelledby="tab-{{ account|replace(' ', '-') }}-{{ role|replace(' ', '-') }}">
                            <div class="p-4">
                                {% if details.attached_policies %}
                                    <h5 class="text-lg font-semibold text-orange-600 mb-2">Attached Policies:</h5>
                                    <ul class="list-group mb-3">
                                        {% for policy in details.attached_policies %}
                                            {% set unique_id = account ~ '-' ~ role ~ '-' ~ policy.name %}
                                            <li class="p-2 bg-gray-100 border border-gray-300 rounded-md mb-2">
                                                <span class="cursor-pointer text-orange-600" onclick="togglePolicy('{{ unique_id }}')">
                                                    <i class="fas fa-caret-down"></i> {{ policy.name }}
                                                </span>
                                                <pre id="{{ unique_id }}" class="policy-document hidden p-2 mt-2 bg-white border border-gray-300 rounded-md">{{ policy.document }}</pre>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="text-gray-500">No attached policies available.</p>
                                {% endif %}

                                {% if details.inline_policies %}
                                    <h5 class="text-lg font-semibold text-orange-600 mb-2">Inline Policies:</h5>
                                    <ul class="list-group mb-3">
                                        {% for policy in details.inline_policies %}
                                            {% set unique_id = account ~ '-' ~ role ~ '-' ~ policy.name %}
                                            <li class="p-2 bg-gray-100 border border-gray-300 rounded-md mb-2">
                                                <span class="cursor-pointer text-orange-600" onclick="togglePolicy('{{ unique_id }}')">
                                                    <i class="fas fa-caret-down"></i> {{ policy.name }}
                                                </span>
                                                <pre id="{{ unique_id }}" class="policy-document hidden p-2 mt-2 bg-white border border-gray-300 rounded-md">{{ policy.document }}</pre>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="{{ url_for('main.trusted_users') }}" class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-md">Back to Trusted Users</a>
</section>

{% block scripts %}
<script src="{{ url_for('static', filename='js/user_details.js') }}"></script>
{% endblock %}
{% endblock %}
